# Ignore the model weights
*.h5
*.pth
*.zip
*.bz2

# Ignore the dataset
dataset
dataset*
*dataset
data


# Ignore the outputs
output
output*
*output

# Ignore environment
environment
.venv
__pycache__

